<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name="com.example.justkibrisrestart.Login.RegisterVC"
            android:exported="false" />
        <activity
            android:name=".Firsatlar.firsatDetayCell"
            android:label="Firsat Detay Cell">
        </activity>

        <activity
            android:name=".HomePage.ActivityDetail.Activity_Details"
            android:exported="false" />
        <activity
            android:name=".HomePage.ActivityTabbarVC"
            android:exported="false" />
        <activity
            android:name="com.example.justkibrisrestart.Login.LoginVC"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>